<!-- metadata fields -->
<div class="mt-6">

    <!-- Fields -->
    <div class="space-y-3">
        <!-- Tax Deductible -->
        <div class="flex items-center justify-between
                py-2 px-2 rounded-lg
                hover:bg-app-bg transition"
                on:click="$store.BillStore.update($store.SelectedBillStore.selectedBill?.id, 'metadata', { ...$store.SelectedBillStore.selectedBill?.metadata, is_tax_deductible: !$store.SelectedBillStore.selectedBill?.metadata.is_tax_deductible })"
                  >

            <!-- metadata key-->
            <span class="flex items-center gap-2 text-sm">
                <svg class="w-3.5 h-3.5 text-app-muted" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round">
                    <path d="M20.59 13.41l-7.17 7.17a2 2 0 01-2.83 0L2 12V2h10l8.59 8.59a2 2 0 010 2.82z" />
                    <line x1="7" y1="7" x2="7.01" y2="7" />
                </svg>
                Tax Deductible
            </span>

            <!-- metadata value -->
            <div class="flex items-center gap-2">
                <span 
                s-class="{'text-brand-primary': $store.SelectedBillStore.selectedBill?.metadata.is_tax_deductible}"
                    s-text="$store.SelectedBillStore.selectedBill?.metadata.is_tax_deductible ? 'On' :'Off' "
                class="text-[11px] font-mono">
                    Off
                </span>

                <!-- toggle -->
                <div 
                s-class="{
                    'bg-brand-primary/45': $store.SelectedBillStore.selectedBill?.metadata.is_tax_deductible,
                    'bg-app-muted': !$store.SelectedBillStore.selectedBill?.metadata.is_tax_deductible
                }"
                class="w-8 h-4 rounded-full relative">
                    <div 
                   s-class="{
                                'left-0.5': !$store.SelectedBillStore.selectedBill?.metadata.is_tax_deductible,
                                'right-0.5': $store.SelectedBillStore.selectedBill?.metadata.is_tax_deductible,
                                'bg-brand-primary': $store.SelectedBillStore.selectedBill?.metadata.is_tax_deductible
                            }" class="absolute top-0.5
                      w-3 h-3 rounded-full
                      bg-app-card border border-app-border"></div>
                </div>
            </div>

        </div>
    </div>
</div>