<!-- chart component for cash flow visualization -->
<!-- only for paid tier -->
<template s-if="false">
    <!-- 30 day chart flow -->
    <div s-state="{ hidden:true }" class="bg-app-card border border-app-border rounded-2xl p-6">
        <div class="flex justify-between">
            <h3 class="font-semibold">30-Day Cash Flow</h3>
            <button on:click="hidden = !hidden"
                class="flex items-center gap-2 text-xs text-app-muted hover:text-app-text transition-all duration-200">
                <svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                    <circle cx="12" cy="12" r="3" />
                    <line s-show="!hidden" x1="3" y1="3" x2="21" y2="21" />
                </svg>
                <span class="font-medium hidden md:block">Hide</span>
            </button>
        </div>
        <!-- chart -->
        <div s-show="hidden" class="mt-6">
            <div class="flex gap-3 justify-end text-app-muted text-[11px]">
                <div class="flex items-center gap-1 ">
                    <div class="w-2 h-1 rounded-md bg-blue-500/40"></div>
                    <div>Projected</div>
                </div>
                <div class="flex items-center gap-1">
                    <div class="w-2 h-1 rounded-md bg-red-500/40"></div>
                    <div>Low Zone</div>
                </div>
            </div>
            <!-- chart -->
            <div s-show="hidden" class="h-40 mt-2 rounded-xl bg-app-bg border border-app-border shadow-2xs"></div>
        </div>
    </div>
</template>