<!-- NOTE: make this more generic so that it can be reused for other confirmation modals -->
<div class="fixed inset-0 z-100 flex items-center justify-center p-4">

    <div class="absolute inset-0 bg-app-bg/60 backdrop-blur-md" on:click="cancel"></div>

    <div
        class="relative w-full max-w-xs bg-app-card border border-app-border rounded-3xl p-8 shadow-2xl flex flex-col items-center text-center transform transition-all">

        <div class="w-12 h-12 bg-status-overdue/10 rounded-full flex items-center justify-center mb-6">
            <svg class="w-6 h-6 text-status-overdue" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
        </div>

        <h3 class="text-lg font-mono font-bold text-app-text tracking-tighter mb-2">{{title}}</h3>
        <p class="text-[11px] text-app-muted font-medium leading-relaxed mb-8">
            {{content}}
        </p>

        <div class="flex flex-col w-full gap-3">
            <button on:click="{{confirm}}"
                class="w-full py-3 bg-status-overdue text-white text-[10px] font-black uppercase tracking-[0.2em] rounded-xl hover:brightness-110 active:scale-[0.98] transition-all">
                Confirm
            </button>

            <button on:click="{{cancel}}"
                class="w-full py-3 bg-app-bg border border-app-border text-app-muted text-[10px] font-black uppercase tracking-[0.2em] rounded-xl hover:text-app-text transition-all">
                Nevermind
            </button>
        </div>
    </div>
</div>