<div class="fixed inset-0 z-100">
    <div on:click="notificationsOpen = false" class="fixed inset-0 bg-slate-500/10 backdrop-blur-sm">
    </div>
    <aside id="notifications-panel"
        class="fixed top-0 right-0 h-full w-[85%] max-w-95 bg-app-card border-l border-app-border/40 z-110 flex flex-col rounded-l-4xl shadow-2xl">

        <div class="pt-16 px-10 pb-8 flex items-center justify-between">
            <h2 class="text-2xl font-light text-app-text tracking-tight">Notifications</h2>
            <button on:click="notificationsOpen = false" id="close-notifications"
                class="p-2 text-app-muted hover:text-app-text transition-colors">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>

        <div class="flex-1 overflow-y-auto px-6 space-y-3">

            <!-- list of all notifications(from notif store) -->
            <div
                class="group relative p-5 bg-status-overdue/5 border border-status-overdue/10 rounded-3xl hover:bg-status-overdue/10 transition-all cursor-pointer">
                <div class="flex justify-between items-start mb-2">
                    <span class="text-[8px] font-black text-status-overdue uppercase tracking-widest">Urgent</span>
                    <span class="text-[8px] font-mono text-app-muted uppercase">2h ago</span>
                </div>
                <p class="text-xs font-bold text-app-text mb-1">Missed Obligation</p>
                <p class="text-[10px] text-app-muted leading-relaxed">Your "Rent" bill was marked as due today but no
                    cleared balance change was detected.</p>
            </div>

            <div
                class="group relative p-5 bg-app-bg/40 border border-app-border/20 rounded-3xl hover:border-brand-primary/30 transition-all cursor-pointer">
                <div class="flex justify-between items-start mb-2">
                    <span class="text-[8px] font-black text-brand-primary uppercase tracking-widest">Update</span>
                    <span class="text-[8px] font-mono text-app-muted uppercase">Yesterday</span>
                </div>
                <p class="text-xs font-bold text-app-text mb-1">Database Optimization</p>
                <p class="text-[10px] text-app-muted leading-relaxed">Local IndexedDB was successfully pruned. 1.2MB of
                    stale cache removed.</p>
            </div>

            <div
                class="group relative p-5 bg-app-bg/40 border border-app-border/20 rounded-3xl hover:border-brand-primary/30 transition-all cursor-pointer">
                <div class="flex justify-between items-start mb-2">
                    <span class="text-[8px] font-black text-app-muted uppercase tracking-widest">Insight</span>
                    <span class="text-[8px] font-mono text-app-muted uppercase">May 09</span>
                </div>
                <p class="text-xs font-bold text-app-text mb-1">Safe-to-Spend Trend</p>
                <p class="text-[10px] text-app-muted leading-relaxed">Your daily spending has averaged 15% lower this
                    week.
                    Your weekend forecast is healthy.</p>
            </div>

        </div>

        <div class="p-8 border-t border-app-border/10">
            <button
                class="w-full py-3 text-[9px] font-black text-app-muted hover:text-brand-primary uppercase tracking-[0.3em] transition-colors">
                Clear All Notifications
            </button>
        </div>
    </aside>
</div>