<template s-if="$store.UserStore.tier !== 'pro'">
    <div class="relative mt-3 p-3 rounded-md 
            bg-brand-soft 
            border border-brand-accent/30
            shadow-sm text-[clamp(10px,0.85vw,13px)]">

        <p class="text-xs font-semibold tracking-wide text-brand-primary uppercase">
            Pro Feature
        </p>

        <p class="mt-2 leading-relaxed text-app-muted
          text-[clamp(11px,0.9vw,14px)]">
            Connect your bank for live balances, auto-reconciliation & smart alerts
        </p>


        <button disabled opacity-50 class="mt-4 w-full
       bg-brand-primary 
       hover:bg-brand-primary/90
       text-white dark:text-app-bg font-semibold
       py-2.5 px-4
       rounded-xl
       transition-all
       flex items-center justify-center gap-2
       shadow-sm
       whitespace-nowrap
       text-[clamp(11px,0.9vw,14px)]">

            <svg class="w-4 h-4 opacity-90" fill="currentColor" viewBox="0 0 20 20">
                <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>

            Connect Live Bank Data
        </button>
    </div>
</template>