<div s-show="open" class="absolute bottom-full left-1/2 -translate-x-1/2 mb-3 w-64 p-4 z-50
                bg-app-bg border border-app-border rounded-2xl shadow-2xl
                flex flex-col gap-2 text-center
                 pointer-events-none 
                transition-all duration-300 ease-out transform scale-95 
                origin-[bottom_center]">

    <p class="text-[11px] font-medium text-app-text/90 leading-relaxed">
        Exactly what you can spend <span class="font-bold">right now</span> until your next paycheck,
        after reserving enough for upcoming bills.
    </p>
</div>